@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body{
    font-family: Permanent Marker;
    background-color: #e6e6e6;
    height: 100vh;
}
main{
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    flex-direction: row;
    gap: 4em;
    align-self: self-end;
}
#flags img{
    width: 100px;
    cursor: pointer;
}

#flags.fr:after {
    content: '';
    background-image: url('./assets/circle.png'); /* Replace 'your-image.png' with the path to your PNG image */
    width: 90px;
    height: 86px;
    background-size: cover;
    position: absolute;
    top: -5px;
    left: 12px;
  }
  #flags.finn:after {
    content: '';
    background-image: url('./assets/circle.png'); /* Replace 'your-image.png' with the path to your PNG image */
    width: 90px;
    height: 86px;
    background-size: cover;
    position: absolute;
    top: -5px;
    left: 119px;
  }

#alphabet{
    display: flex;
    
    flex-flow: wrap;
    gap: 2em;
    justify-content: flex-start;
  align-content: flex-start;
}
#answer{
    display: inline-block;
    margin-bottom: 4em;
}
#answer::after {
    content: '';
    display: block;
    background-image: url('./assets/line.png'); 
    background-size: cover;
    background-repeat: no-repeat;
   width: 100%;
   height: 25px;
}
#answer span {
    font-size: 3em;
}
#answer :not(:last-child) {
    margin-right: 1em;
}
.leftSide{
    width: 50%;
}
.rigthSide{
    width: 30%;
    display: flex;
    align-self: end;
    flex-direction: column;
    justify-content: space-between;
    gap: 5em;
}
.draw1{
    background-image: url(./assets/1.png);
}
.draw2{
    background-image: url(./assets/2.png);
}
.draw3{
    background-image: url(./assets/3.png);
}
.draw4{
    background-image: url(./assets/4.png);
}
.draw5{
    background-image: url(./assets/5.png);
}
.draw6{
    background-image: url(./assets/6.png);
}
#draw {
    width: 100%;
    padding-top: 100%;
    background-size: cover; 
    background-position: center; 
}
.refreshButton {
    background: none;
    border: 0px;
    width: 75px;
    cursor: pointer;
}

.letters.right:hover, .letters.wrong:hover{

    cursor: not-allowed;
}
.letters:hover{
    cursor: pointer;
}
.letters{
    font-size: 3em;
	background:none;
	margin:auto;
	text-align:center;
	vertical-align:middle;
	border:0px;
	border-style:solid;
    position:relative;
}
.letters::before {
    content: '';
    display: none;
    background-image: url('./assets/scribble.png'); /* Replace 'your-image.png' with the path to your PNG image */
    width: 65px; /* Set the desired width */
    height: 35px; /* Set the desired height */
    background-size: cover; /* Adjust the background size as needed */
    position: absolute;
    top:20px;
    left: -10px;
  }

  .letters::after {
    content: '';
    display: none;
    background-image: url('./assets/circle.png'); /* Replace 'your-image.png' with the path to your PNG image */
    width: 68px;
    height: 65px;
    background-size: cover;
    position: absolute;
    top: 5px;
    left: -11px;
  
  }
 
  .letters.right::after{
    display: block!important;
  }
  .letters.wrong::before{
    display: block!important;
  }
#endMessage, #startMessage{
    position: absolute;
  border: 10px solid;
  top: 20%;
  background-color: #e6e6e6;
  padding: 2em;
  text-align: center;
  left: 5%;
  width: 30%;
}
.red{color:red}
  .hidden{
    display: none;
  }